# top-most EditorConfig file
root = true

[*] # Loosely following the kernel coding style: https://www.kernel.org/doc/html/v4.10/process/coding-style.html
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

[*.py] # Loosely following PEP-8: https://peps.python.org/pep-0008/
indent_size = 4
indent_style = space

[*.{html,htm}]
indent_size = 4
insert_final_newline = false

[*.csv]
indent_size = unset
indent_style = unset
insert_final_newline = false

[*.md]
max_line_length = 100

[platformio.ini]
indent_size = 4
indent_style = space
