.pio
venv/
.vscode/*
.DS_Store
.idea/
CMakeLists.txt
CMakeListsPrivate.txt
cmake-build-az-delivery-devkit-v4/
cmake-build-debug/
platformio-override.ini
src/settings-override.h
src/settings-custom-override.h
node_modules/
