menu "Hidden Helpers"
	visible if n

config CONVERT_TO_IDENTIFIER
	bool
	default y
endmenu

menu "ESPuino General Settings"

config FTP
	bool "Enables support for FTP Server"
	default y
	help
	  To activate use CMD_ENABLE_FTP_SERVER which is assigned to pressing
	  the play/pause and next buttons at the same time.

choice
	bool "Set the language used in logs and web config"
	default LANGUAGE_DE

config LANGUAGE_DE
	bool "German"

config LANGUAGE_EN
	bool "English"

endchoice

config MDNS
	bool "Enables support for MDNS"
	default y
	help
	  When enabled, you don't have to handle with ESPuino's IP address.
	  If hostname is set to "ESPuino", you can reach it via
	  http://ESPuino.local.

config MQTT
	bool "Enable support for MQTT"
	default n
	help
	  Make sure to configure mqtt-server and (optionally) username+pwd.

menuconfig STATIC_IP
	bool "Use static IP configuration"
	default n

if STATIC_IP

config LOCAL_IP
	string "ESPuino's static local IP address"
	default "192,168,2,100"
	depends on CONVERT_TO_IDENTIFIER

config GATEWAY_IP
	string "Gateway IP address"
	default "192,168,2,1"
	depends on CONVERT_TO_IDENTIFIER

config SUBNET_MASK
	string "Subnet mask"
	default "255,255,255,0"
	depends on CONVERT_TO_IDENTIFIER

config DNS_IP
	string "DNS Server IP"
	default "192,168,2,1"
	depends on CONVERT_TO_IDENTIFIER

endif # STATIC_IP

endmenu

menu "ESPuino Audio Settings"

config HEADPHONE_ADJUST
	bool "Enables adjustment of headphone volume"
	default y
	help
	  If enabled and a headphone is plugged in, an alternative maximum
	  volume is activated to prevent damage to childrens ears.

endmenu

menu "ESPuino Hardware Settings"

config I2S_COMM_FMT_LSB
	bool "Enables FMT instead of MSB for I2S-communication-format"
	default n
	help
	  Used e.g. by PT2811. Don't enable for MAX98357a, AC101 or PCM5102A.

menuconfig NEOPIXEL
	bool "Enable support for NeoPixel LEDs"
	default y

if NEOPIXEL

config NEOPIXEL_CENTER_PAUSE
	bool "Center pause LED pattern"
	default n
	help
	  If true the pause pattern is centered in the middle of the strip.

config NEOPIXEL_CHIPSET
	string "Type of NeoPixels"
	default WS2812B
	depends on CONVERT_TO_IDENTIFIER

config NEOPIXEL_COLOR_ORDER
	string "Order of NeoPixel colors"
	default GRB
	depends on CONVERT_TO_IDENTIFIER

config NEOPIXEL_DIMMABLE_STATES
	int "Number of intermediate values between to LEDs with full brightness"
	default 50
	help
	  See https://forum.espuino.de/t/led-verbesserungen-rework/1739 for more
	  information.

config NEOPIXEL_NUM_IDLE_DOTS
	int "Number of LED dots which are on when idle"
	default 4

config NEOPIXEL_NUM_LEDS
	int "Number of NeoPixel LEDs available"
	default 24

config NEOPIXEL_OFFSET
	int "Offset for first LED"
	range 0 NEOPIXEL_NUM_LEDS
	default 0
	help
	  Shifts the starting LED in the original direction of the NeoPixel ring.

config NEOPIXEL_PROGRESS_HUE_START
	int "Start hue for LED progress indicator"
	default 85
	help
	  Hue ranges from basically 0 - 255, but you can also set numbers
	  outside this range to get the desired effect (e.g. 85 - 215 will go
	  from green to purple via blue, 341 - 215 start and end at exactly the
	  same color but go from green to purple via yellow and red).

config NEOPIXEL_PROGRESS_HUE_END
	int "End hue for LED progress indicator"
	default -1
	help
	  Hue ranges from basically 0 - 255, but you can also set numbers
	  outside this range to get the desired effect (e.g. 85 - 215 will go
	  from green to purple via blue, 341 - 215 start and end at exactly the
	  same color but go from green to purple via yellow and red).

config NEOPIXEL_REVERSE
	bool "Reverse direction of NeoPixel LEDs"
	default n

endif # NEOPIXEL

config PORT_EXPANDER
	bool "Enables support for the PCA9555 port expander"
	default n
	help
	  See https://forum.espuino.de/t/einsatz-des-port-expanders-pca9555/306
	  for more information."

endmenu
