name: clang-format-check
run-name: Clang-format Check
on: [workflow_dispatch, push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run clang-format style check for C/C++/Protobuf programs.
        uses: jidicula/clang-format-action@v4.15.0
        with:
          clang-format-version: "16"
          check-path: "src"
          fallback-style: "LLVM" # optional
